.match-links {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.match-links a {
    min-width: 4.5rem;
    text-align: center;
    color: #050505;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    box-shadow: #bfbfbf 0 0 0.5rem;
}
@media (prefers-color-scheme: dark) {
    .match-links a {
        color: #d9d9d9;
        text-decoration: none;
        box-shadow: #404040 0 0 0.5rem;
    }
}
