#profile-image {
    border-radius: 50%;
    box-shadow: #ccc 0 0 0.8rem;
    width: fit-content;
    height: fit-content;
}
@media (prefers-color-scheme: dark) {
    #profile-image {
        box-shadow: #333 0 0 0.8rem;
    }
}
